body{
	overflow-x:hidden;
	 background: #f3f3f3;
	 background: #f9f9f9 url(../img/sandstone.png) repeat !important;
	 font-family: "Roboto", sans-serif;
	 font-weight: 300;
	 text-shadow:0 1px #fff;
	 color: #555 !important;
}
.add-btn {
	font-family: "Roboto", sans-serif;
	 font-weight: 300;
	 font-size: 16px;
	 margin: 10px 0px;
}
.box-title {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-size: 28px;
	text-shadow:0 1px #fff;
	color :#666;
	display: inline;
	margin: 5px 0 0 0;
}
.pagination li a {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	font-size: 15px;
}
th {
	font-family: "Roboto", sans-serif;
	 font-weight: 300;
	 font-size: 18px;

	 text-shadow:0 1px #fff;
}

td {
	font-family: "Roboto", sans-serif;
	 font-weight: 300;
	 font-size: 16px;
	 text-shadow:0 1px #fff;
	 vertical-align: middle;
}
.navbar-default{
	width: 100%;
	background:#fff;
	border-radius:0px;
	border:0px;
}
.navbar-toggle {
	background:#ff8400;
}
.navbar-brand{	
	padding: 0px 0px;
	margin:0 auto;
	height: 50px;
}
.logo-image {
	width:75%;
/*	margin:0 5px ;*/
	transition : 1s all ease;
}
.logo-image:hover{
	width:80%;
/*	margin:0 5px ;*/
}
.navbar{
	margin-bottom:0px;
}
.search-form {
	display: inline;
}

.search-form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #fff;
  border: 0;
  margin: 0 0 15px;
  padding: 8px;
  font-size: 14px;
}
.btn-square {
	border-radius: 0 !important;
}


